#page-wrapper{"ng-class": "{'open': toggle}", "ng-cloak": "", "ng-controller": "LayoutCtrl"}
  / Sidebar
  #sidebar-wrapper
    %ul.sidebar
      %li.sidebar-main
        %a{"ng-click": "toggleSidebar()"}
          Dashboard
          %span.menu-icon.glyphicon.glyphicon-transfer
      %li.sidebar-title
        %span NAVIGATION
      %li.sidebar-list
        %a.cursor-pointer.not-decorated{ "ng-href": "/#/?lang={{locale}}" } 
          {{ 'NAVIGATION_ROOT_LINK' | translate }}

          %span.menu-icon.fa.fa-car 
      %li.sidebar-list
        %a{ "ng-href": "/#/about?lang={{locale}}" }
          {{ 'NAVIGATION_ABOUT_LINK' | translate }}
          %span.menu-icon.fa.fa-info-circle
    .sidebar-footer
      .col-xs-4.col-xs-offset-4
        %a{ href: "https://github.com/zhilinskyegor", target: "_blank" }
          Github
  / End Sidebar
  #content-wrapper
    .page-content
      / Header Bar
      .row.header
        .col-xs-12
          .user.pull-right

            .item.dropdown{ "ng-class": "{'open': isNavbarProfileOpen}" }
              %a.dropdown-toggle.cursor-pointer{ "ng-click": "toggleProfileNavbar()" }
                = image_tag 'default_avatar.png'
              %ul.dropdown-menu.dropdown-menu-right{ "ng-if": "currentUser" }
                %li.link
                  %a{:href => "#"}
                    Profile
                %li.link
                  %a{:href => "#"}
                    Menu Item
                %li.link
                  %a{:href => "#"}
                    Menu Item
                %li.divider
                %li.link
                  %a{:href => "#"}
                    Logout
              %ul.dropdown-menu.dropdown-menu-right{ "ng-if": "!currentUser", "ng-click": "toggleProfileNavbar()" }
                %li.link
                  %a{ "ng-href": "/#/login?lang={{locale}}" }
                    {{ 'NAVBAR_LOGIN_BTN' | translate }}


            .item.dropdown
              %a.dropdown-toggle.cursor-pointer{ "ng-click": "changeLanguage()" }
                = image_tag "ru-flag.png", "ng-show": "currentLanguage == 'ru'"
                = image_tag "uk-flag.png", "ng-show": "currentLanguage == 'en'"
              %ul.dropdown-menu.dropdown-menu-right
                %li.link
                  %a
                    = image_tag "ru-flag.png"
                %li.link
                  %a
                    = image_tag "uk-flag.png"



          .meta
            .page
              {{'WELCOME_INDEX_TITLE' | translate}}
            .breadcrumb-links
              {{'WELCOME_INDEX_DESCRIPTION' | translate}}
      %div{"ui-view": ""}
          