!!!
%html{lang: "en", "ng-app": "companion_app"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title RDash AngularJS

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&sensor=false'
    = csrf_meta_tags

  %body

    = render 'layouts/navigation'